.collapsible-panel
  .title-bar(ng-class='{"title-bar-left": attachToLeft, "title-bar-right": attachToRight}')
    .title-bar-inner
      a.btn.btn-mini.btn-block(ng-class='{active: visible}', ng-click='onShowOrHide()') {{title}}
  .panel-content(
    ng-class='{"panel-content-left": attachToLeft, "panel-content-right": attachToRight}',
    ng-transclude,
    ng-show='visible')
