.bonjour
  a.logo(href='/')
    img(src='/img/logo.png', width='410', height='46')
  form.form-search(ng-submit='search()')
    search-box.search-input(type='text', placeholder='java.util.List', ng-model='query')
  .footer
    p Powered by&nbsp;
        a(href='http://lucene.apache.org/', target='_blank') Apache Lucene
