.bonjour
  a.logo(href='#')
    img(src='/img/logo.png', width='410', height='46')
  form.form-search(ng-submit='search()')
    input.input-xxlarge.search-query(type='text', placeholder='Search your code here.', ng-model='query')
    button.btn.search-button(type='submit') Search
