.search-box
  input.query(type="text", ng-model="query", ng-placeholder="placeholder")
  ul.choice-box(ng-show="choices.length > 0 && visible")
    li.row(ng-repeat="choice in choices", ng-class="{active: choice.index == selected}")
      div {{choice.display}}
      a(ng-href="{{'#/' + choice.url}}"){{choice.path}}
