.search-box
  input.query(type="text", ng-model="query", ng-placeholder="placeholder", autofocus)
  ul.choice-box(ng-show="choices.length > 0 && visible")
    li.row(ng-repeat="choice in choices", ng-class="{active: choice.index == selected}")
      div(ng-class="{file: choice.kind == 'FILE', clazz: choice.classType.kind == 'CLASS', interface: choice.classType.kind == 'INTERFACE', enum: choice.classType.kind == 'ENUM', annotation: choice.classType.kind == 'ANNOTATION'}") {{choice.queryHint}}
      a(ng-href="{{'#/' + choice.url}}"){{choice.jumpTarget.file.project + choice.jumpTarget.file.path}}
