.source
  .loading
    p(ng-show='loading') Loading...
  .left
    project-tree(project="project", path="path")
  .right
    p right
  .main
    .main-top
     code-view(ng-hide='loading', code='sourceCodeAnnotation', find-usages="findUsages(typeId)", goToDefinition="goToDefinition(typeId)")
    .panel.main-bottom
      .header
        span xref
      .body
        xref-box(type-id="xrefTypeId")
