span.type-usage
  span(ng-show='resolved')
    a(ng-href="{{classUrl}}", ng-transclude)
    span.dropdown
      a.dropdown-toggle(data-toggle="dropdown", href="#")
        b.caret
      ul.dropdown-menu(role="menu")
        li
          a(href="javascript:void(0)", ng-click="goToDefinitionInternal()") Definition
        li
          a(href="javascript:void(0)", ng-click="findUsagesInternal()") Usages
  span(ng-hide='resolved', ng-transclude)
