span.usage
  span(ng-show='resolved')
    a(ng-href="{{'#' + url}}",
      ng-class="{'highlighted-word': id > 0 && highlightContext.kind == kind && highlightContext.id == id}")
      {{text}}
    span.dropdown
      a.dropdown-toggle(data-toggle="dropdown", href="#")
        b.caret
      ul.dropdown-menu(role="menu")
        li
          a(href="javascript:void(0)", ng-click="goToDefinitionInternal()") Definition
        li
          a(href="javascript:void(0)", ng-click="findUsagesInternal()") Usages
  span(ng-hide='resolved') {{text}}
  // span(ng-transclude)
