html, body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.bonjour {
    margin-top: 150px;
    text-align: center;

    .logo {
        display: block;
        margin: 0 auto 10px;
    }

    .form-search {
        width: 500px;
        margin: 0 auto 10px;

        .search-input {
            margin-top: 50px;
        }
        .search-button {
        }
    }
}

.search-box {
    .query {
        width: 100%;
    }

    .choice-box {
        position: absolute;
        border: 1px solid #666;
        background: #fff;
        list-style: none;
        text-align: left;
        overflow: hidden;
        margin: 0 0 0 0;

        .row {
            position: relative;
            margin: 0px 5px 0px 5px;
            white-space: nowrap;
        }

        .active {
            background-color: #EEE;
        }
    }
}

.source {
    @leftWidth: 250px;
    @rightWidth: 250px;

    .left {
        float: left;
        width: @leftWidth;
        overflow: auto;
    }
    .right {
        float: right;
        width: @rightWidth;
        overflow: auto;
    }
    .main {
        margin-left: @leftWidth;
        margin-right: @rightWidth;
    }
}

.project-tree {
    .inner {
        // TODO
    }
    .java-file, .dir {
      list-style: none;
    }
}
