html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.bonjour {
  margin-top: 150px;
  text-align: center;
}
.bonjour .logo {
  display: block;
  margin: 0 auto 10px;
}
.bonjour .form-search {
  width: 500px;
  margin: 0 auto 10px;
}
.bonjour .form-search .search-input {
  margin-top: 50px;
}
.search-box .query {
  width: 100%;
}
.search-box .choice-box {
  position: absolute;
  border: 1px solid #666;
  background: #fff;
  list-style: none;
  text-align: left;
  overflow: hidden;
  margin: 0 0 0 0;
}
.search-box .choice-box .row {
  position: relative;
  margin: 0px 5px 0px 5px;
  white-space: nowrap;
}
.search-box .choice-box .active {
  background-color: #EEE;
}
