html,
body {
  height: 100%;
}
.page .header {
  position: absolute;
  top: 0;
  bottom: 40px;
  width: 100%;
}
.page .body {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
}
.bonjour {
  margin-top: 150px;
  text-align: center;
}
.bonjour .logo {
  display: block;
  margin: 0 auto 10px;
}
.bonjour .form-search {
  width: 500px;
  margin: 0 auto 10px;
}
.bonjour .form-search .search-input {
  margin-top: 50px;
}
.bonjour .footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: grey;
}
.search-box .query {
  width: 100%;
}
.search-box .choice-box {
  position: absolute;
  border: 1px solid #666;
  background: #fff;
  list-style: none;
  text-align: left;
  overflow: hidden;
  margin: 0 0 0 0;
}
.search-box .choice-box .row {
  position: relative;
  margin: 0px 5px 0px 5px;
  white-space: nowrap;
}
.search-box .choice-box .active {
  background-color: #EEE;
}
.source {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.source .left {
  float: left;
  width: 250px;
  height: 100%;
  overflow: auto;
}
.source .right {
  float: right;
  width: 250px;
  height: 100%;
  overflow: auto;
}
.source .main {
  position: absolute;
  left: 250px;
  right: 250px;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.source .main .main-top {
  position: absolute;
  top: 0px;
  bottom: 150px;
  left: 0;
  right: 0;
  overflow: auto;
}
.source .main .main-bottom {
  position: absolute;
  height: 150px;
  bottom: 0px;
  left: 0;
  right: 0;
}
.project-tree .java-file,
.project-tree .dir {
  list-style: none;
}
.panel {
  border: 1px solid silver;
  height: 100%;
  position: relative;
}
.panel .header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  height: 20px;
}
.panel .body {
  position: absolute;
  top: 20px;
  bottom: 0px;
  width: 100%;
  overflow: auto;
}
.xref-box .usage {
  list-style-type: none;
}
