body {
  color: #666;
}

pre {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 12;
}

li {
  list-style: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.thin_border {
  border: 1px solid silver;
}

.thin_border2 {
  border: 2px solid #EFEFEF;
}

.blue_button {
  background: #4096EE;
  border: 0;
  border-radius: 4px;
  height: 23px;
  width: 70px;
  color: white;
  font-size: 13;
  cursor: pointer;
}

.w2px {
  width: 20px;
}

.ac-renderer {
  position: absolute;
  border: 1px solid silver;
  width: 400px;
}

.ac-row {
  cursor: pointer;
  padding: 5px;
}

.ac-highlighted {
  font-weight: bold;
}

.ac-active {
  background-color: silver;
}

.class_link {
  text-decoration: none;
  padding-left: 18px;
  background: transparent url(../images/eclipse-icons/class_obj.gif) no-repeat left;
}

.method_link {
  text-decoration: none;
  padding-left: 18px;
  background: transparent url(../images/eclipse-icons/methpub_obj.gif) no-repeat left;
}

.field_link {
  text-decoration: none;
  padding-left: 18px;
  background: transparent url(../images/eclipse-icons/field_public_obj.gif) no-repeat left;
}

.subwindow_title {
  display: block;
  background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
  background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
  background-image: linear-gradient(#FAFAFA, #EAEAEA);
  background-repeat: repeat-x;
  padding: 5px;
}

.auto_overflow {
  overflow: auto;
}

.bd {
  font-weight: bold;
}
