.header
  .navbar.navbar-inverse.navbar-static-top
    .navbar-inner
      .container
        a.btn.btn-navbar(type='button', data-toggle='collapse', data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.brand(href="/") Polaris

        .nav-collapse.collapse
          ul.nav
            li
              a(href="/") Home
