{% load tags %}

<html>
  <head>
    {% block title %}
      <title>Polaris Code Search</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/jquery-ui.css">
    <link rel="stylesheet" href="/static/layout.css">
    <link rel="stylesheet" href="/static/prettify.css">
    <script src="/static/jquery-1.8.2.js"></script>
    <script src="/static/jquery-ui.js"></script>
    <script src="/static/prettify.js"></script>
    <script src="/static/jquery.cookie.js"></script>
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
  </head>
  <body onload="prettyPrint()">
    {% block header %}
      <div class="header">
        <div class="logo">
          <a href="/"><img src="/static/logo.png"></a>
        </div>
        <div class="search_panel">
          <form action="/search" method="GET">
            {% render_search_box query=query %}
            <button class="button" type="submit">Search</button>
          </form>
        </div>
      </div>
    {% endblock %}
    {% block main %}
    {% endblock %}
    {% block footer %}
      <div class="footer">
        <p>Powered by <a href="http://lucene.apache.org/">Apache Lucene</a></p>
      </div>
    {% endblock %}
  </body>
</html>
