{% extends "layout.html" %}
{% load tags %}

{% block javascripts %}
  <script>
    function fixHeight() {
      var window_height = $(window).height();
      var header_height = $(".header").height();
      var footer_height = $(".footer").height();
      var result = window_height - header_height - footer_height - 100;
      $(".fix_height").css("height", result);
      $(".fix_height_inner").css("height", result - 10);
    }

    function initFileTree() {
      var project = "{{ project }}";
      var dir = "{{ dir }}";
      $(".file_tree").treeview({
        url: "/ajax/layout?project=" + escape(project) + "&dir=" + escape(dir)
      });
    }

    $(window).resize(function () {
      fixHeight();
    });

    $(document).ready(function() {
      fixHeight();
      initFileTree();
    });
  </script>
{% endblock %}

{% block main %}
  <!-- // TODO: focus on that element -->
  <div class="source_main fix_height">
    <div class="source_layout_panel fix_height_inner">
      <ul class="file_tree filetree">
    </div>
    <div class="source_code_panel fix_height_inner">
      <pre class="prettyprint linenums" id="code">{{ source_html|safe }}</pre>
    </div>
  </div>
{% endblock %}
