{% extends "layout.html" %}
{% load tags %}

{% block javascripts %}
  <script>
    function fixHeight() {
      var window_height = $(window).height();
      var header_height = $(".header").height();
      var footer_height = $(".footer").height();
      var result = window_height - header_height - footer_height - 100;
      $(".fix_height").css("height", result);
      $(".fix_height_inner").css("height", result - 10);
    }

    function initFileTree() {
      var project = "{{ project }}";
      var dir = "{{ dir }}";
      $(".file_tree").treeview({
        url: "/ajax/layout/" + escape(project) + escape(dir)
      });
    }

    function scrollToLine(lineNo) {
      var container_top = $(".source_line_num").offset().top;
      var line_top = $("#line_no_" + lineNo).offset().top;
      $(".source_code_panel").scrollTop(line_top - container_top);
    }

    $(window).resize(function () {
      fixHeight();
    });

    $(document).ready(function() {
      fixHeight();
      initFileTree();
      scrollToLine({{ line_no }});
    });
  </script>
{% endblock %}

{% block main %}
  <!-- // TODO: focus on that element -->
  <div class="path_bar">
    <ul>
      {% for part in path_parts %}
        <li>/ {{ part }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="source_main fix_height">
    <div class="source_layout_panel fix_height_inner">
      <ul class="file_tree filetree">
    </div>
    <div class="source_code_panel fix_height_inner">
      <div style="margin:10px">
        <pre style="margin:0px"><ul class="source_line_num">{{ line_no_html|safe }}</ul></pre>
        <pre class="source_view prettyprint">{{ source_html|safe }}</pre>
      </div>
    </div>
  </div>
{% endblock %}
