doctype 5
html(ng-app='polaris')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block style
      link(rel='stylesheet', href='/stylesheets/main.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    block script
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/bootstrap.min.js')
      script(src='/javascripts/angular.min.js')
      script(src='/javascripts/app.js')
      script(src='/javascripts/services.js')
      script(src='/javascripts/controllers.js')
      script(src='/javascripts/directives.js')
  body
    .wrapper
      block header
        include component/header
      .body
        block content
      block footer
        include component/footer
