body {
  color: #666;
}

pre {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 12;
}

.header {
  margin-top: 20px;
}

.footer {
  clear: both;
  text-align: center;
}

.search_box {
  width: 400px;
  height: 23px;
  border: 1px solid silver;
}

.source_code {
}

.search_result {
  list-style-type: none;
  padding-left: 0px;
}

.button {
  background: #4096EE;
  border: 0;
  border-radius: 4px;
  height: 23px;
  width: 70px;
  color: white;
  font-size: 13;
  cursor: pointer;
}

.search_panel {
  margin-top: 15px;
}

/* index page specific */
.index_header {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.index_main {
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 475px;
}

/* source page specific */
.source_main {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.source_layout_panel {
  height: 0px;
  width: 19%;
  float: left;
  overflow: auto;
  border: 1px #CECECE solid;
}

.source_code_panel {
  height: 0px;
  width: 80%;
  float: left;
  overflow: auto;
  border: 1px #CECECE solid;
}

.source_line_num {
  list-style: none;
  float: left;
  margin: 0px;
  padding: 0px;
}

.source_view {
  float: left;
  margin: 0px;
  padding: 0px !important;
}

/* about page specific */
.about_main {
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
}
